
body {
    background-color: black;
}
/*linear-Smoke*/
.airflow {
    position: absolute;
    width: 900px;
    height: 150px;
    margin: 0px auto;
    overflow: hidden;
    background-color: rgb(103, 62, 150);
}

.theCard {
    position: relative;
    width: 1800px;
    height: 100%;
    /* background-image: url(images/ghost2.png); */
    background-repeat: repeat-x;
    -webkit-animation: header_Roll linear 24s infinite;
    
}

.card-one {
    position: absolute;
    width: 1800px;
    height: 151px;
    backface-visibility: visible;
    background-image: url(images/breeze2.png);
    background-repeat: repeat-x;
    transform: rotateX(180deg);
}

.card-two {
    position: absolute;
    width: 1800px;
    height: 151px;
    left: 30px;
    backface-visibility: visible;
    background-image: url(images/breeze2.png);
    background-size: 930px 200px;
    background-repeat: repeat-x;
    transition: ease-in-out;
    transform: rotateX(110deg);
    
}

.card-three {
    position: absolute;
    width: 1800px;
    height: 151px;
    left: 60px;
    backface-visibility: visible;
    background-image: url(images/breeze2.png);
    background-size: 960px 100px;
    background-repeat: repeat-x;
    transform: rotateX(110deg);
}

/*linear-Smoke (Translate)*/
@-webkit-keyframes header_Roll {
    from { right: 0px; }
    to { right: 900px; }
}
/*linear-Smoke (Rotate)*/
    .card-one {
        -webkit-animation: rotation 16s infinite linear;
    }
    @-webkit-keyframes rotation {
        from {-webkit-transform: rotateX(179deg); 
        }
        to {-webkit-transform: rotateX(180deg);
        }
    } 
    /**/
        .card-two {
            -webkit-animation: rotation 13.6s infinite linear;
        }
        @-webkit-keyframes rotation {
            from {-webkit-transform: rotateX(0deg);
            }
            to {-webkit-transform: rotateX(359deg);
            }
        } 
    /**/
            .card-three {
                -webkit-animation: rotation 15.4s infinite linear;
            }
            @-webkit-keyframes rotation {
                from {-webkit-transform: rotateX(0deg);
                }
                to {-webkit-transform: rotateX(359deg);
                }
            } 