
body {
    background-color: black;
}
/*Smoke*/
.airflow {
    position: absolute;
    width: 900px;
    height: 150px;
    margin: 0px auto;
    overflow: visible;
    background-color: cornflowerblue;
}

.theCard {
    position: relative;
    width: 1800px;
    height: 100%;
    /* background-image: url(images/ghost2.png); */
    background-repeat: repeat-x;
    -webkit-animation: header_Roll linear 20s infinite;
    
}



/* .card-one {
    position: absolute;
    width: 1800px;
    height: 151px;
    backface-visibility: visible;
    background-image: url(images/breeze2.png);
    background-repeat: repeat-x;
    transform: rotateX(180deg);
} */

.card-two {
    position: absolute;
    width: 1800px;
    height: 151px;
    backface-visibility: visible;
    background-image: url(images/breeze2.png);
    background-repeat: repeat-x;
    transform: rotateX(110deg);
}

/* .card-three {
    position: absolute;
    width: 1800px;
    height: 151px;
    backface-visibility: visible;
    background-image: url(images/breeze2.png);
    background-repeat: repeat-x;
    transform: rotateX(110deg);
} */

.cardsleve-2 {
    position: absolute;
    width: 1800px;
    height: 100%;
    transition: scale 10;
    
    
}

.cardsleve-3 {
    position: absolute;
    width: 1800px;
    height: 100%;
    transform: scale(1.5);
    
    
    
}

/*Translate*/
@-webkit-keyframes header_Roll {
    from { right: 0px; }
    to { right: 900px; }
}
/*rotate*/
    .card-one {
        -webkit-animation: rotation 14s infinite linear;
    }
    @-webkit-keyframes rotation {
        from {-webkit-transform: rotateX(179deg); 
        }
        to {-webkit-transform: rotateX(180deg);
        }
    } 
    /**/
        .card-two {
            -webkit-animation: rotation 13.6s infinite linear;
        }
        @-webkit-keyframes rotation {
            from {-webkit-transform: rotateX(0deg);
            }
            to {-webkit-transform: rotateX(359deg);
            }
        } 
    /**/
            .card-three {
                -webkit-animation: rotation 15.4s infinite linear;
            }
            @-webkit-keyframes rotation {
                from {-webkit-transform: rotateX(0deg);
                }
                to {-webkit-transform: rotateX(359deg);
                }
            } 